.idea/dataSources.xml
.idea/.gitignore
.php-cs-fixer.cache
.idea/messenger.local.iml
.idea/modules.xml
.idea/php.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
application/logs.txt
application/data/profile_photos/aladser@yandex.ru.6.jpg
.php-cs-fixer.cache
application/logs.txt
application/data/profile_photos/aladser@yandex.ru.5.jpeg
/application/data/
