.idea/dataSources.xml
.idea/.gitignore
.php-cs-fixer.cache
.idea/messenger.local.iml
.idea/modules.xml
.idea/php.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
application/logs.txt
/application/data/temp/*
/application/data/profile_photos/*
