.input-clue {
    position: absolute;
    left: 103%;
    top: 0;
    color: rgba(158, 0, 0, 0.768);
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    border: 1px solid rgb(132, 132, 132);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.input-clue--active {
    visibility: visible;
}