.chat-container{
    height: 85vh;
    display: flex;
    padding: 0;
    background-color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
}
.options-container{
    width: 11%;
    padding-left: 1.5rem;
    padding-right: 1rem; 
}

.contacts{
    width: 21%;
}
.messages{
    overflow-y: scroll;
    height: 83.5%;
    padding-right: 0.5rem;
}

.contact{
    border-radius: 3px;
    word-break: break-all;
}
.contact:hover{
    cursor: pointer;
    background-color: #999;
}
.add-contact-btn:hover{
    cursor: pointer;
    font-weight: bolder;
}


.messages-container{
    width: 68%;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.messages-container__title{
    margin-bottom: 0;
    padding: 0.75rem 0 0.75rem 0;
}
.message-system{
    font-size: 90%;
    opacity: 0.75;
    text-align: center;
    margin-bottom: 0;
    padding: 0.25rem 0 0.25rem 0;
}

.msg-table{
    margin-bottom: 0.3rem;
    background-color: white;
}
.msg-table-contact{
    background-color: #ddd;
}
.msg__text{
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 3rem;
    word-break: break-word;
}
.msg__time{
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 3rem;
    color: #666666;
}

.option-link{
    text-decoration: none;
    color: black;
}
.option-link:hover{
    color: black;
    font-weight: bolder;
}
.option{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

/* изображения */
.profile-img{
    width: 2rem;
    height: 1.6rem;
    display: inline-block;
}
.option-img-block{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 0.5rem;
    display: none;
}
.send-btn-img{
    height: 100%;
    width: auto;
    border: none;
    background-size: cover;
}

@media (max-width: 1200px) {
    .options-container{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
@media (max-width: 1000px) {
    .options-container{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 80%;
    }
    .contacts-container{
        font-size: 80%;
    }
    .chats{
        font-size: 80%;
    }
    .find-contacts-input{
        font-size: 80%;
    }
    .contact__name{
        font-size: 80%;
    }
}
@media (max-width: 775px) {
    .options-container{
        font-size: 70%;
    }
    .send-msg{
        width: 95%;
    }
    .option-img-block{
        display: inline-block;
    }
    .option-name{
        display: none;
    }
}
@media (max-width: 550px) {
    .options-container{
        font-size: 60%;
    }
    .send-msg{
        width: 94.8%;
    }
}