@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.h-80{
    height: 80vh;
}
.w-10{
    width:10%;
}
.w-90{
    width:92%;
}
.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
.split-word{
    word-wrap: break-word;
}
.resize-none{
    resize: none;
}

.option-href{
    text-decoration: none;
    color: black;
}
.option-href:hover{
    color: black;
    font-weight: bolder;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.contacts-container{
    width: 21%;
}

.messages-container{
    width: 68%;
}
.messages__msg{
    float: right;
    display: inline-block;
    background-color: white;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    padding-right: 3rem;
    border-radius: 0.25rem;
}
.messages__owner-msg{
    float: left;
}

.options-container{
    width: 11%;
    padding-left: 1.5rem;
    padding-right: 1rem; 
}
.option{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .options-container{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
@media (max-width: 1000px) {
    .options-container{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 80%;
    }
    .contacts-container{
        font-size: 80%;
    }
    .chats{
        font-size: 80%;
    }
}
@media (max-width: 775px) {
    .options-container{
        font-size: 70%;
    }
}
@media (max-width: 550px) {
    .options-container{
        font-size: 60%;
    }
}