@media (max-width:1000px) {
    .nextpfm-img{
        width: 550px;
    }
}
@media (max-width:800px) {
    .nextpfm-img{
        width: 400px;
    }
    .btn-size{
        font-size: 75%;
    }
}
@media (max-width:600px) {
    .nextpfm-img{
        width: 350px;
    }   
}