.mt-6{
    margin-top: 3rem;
}

.profile-img-block{
    height: 20rem;
    width: 20rem;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-nickname:disabled{
    background-color: white;
    color: black;
}

@media (max-width: 780px) {
    .btn-profile{
        font-size: 0.8rem;
        padding-right: 5rem;
    }
}