.profile-container {
    display: flex;
    justify-content: center;
}

.options {
    width: 15%;
}

.mt-6 {
    margin-top: 3rem;
}

.profile-img-block {
    height: 20rem;
    width: 20rem;
}

.input-nickname {
    border: none;
    outline: none;
}

.input-nickname:disabled {
    background-color: white;
    color: black;
}

.input-nickname-error {
    border: 1px solid red;
    box-shadow: 2px 2px 1px 1px red;
}

@media (max-width: 780px) {
    .profile-container {
        display: block;
    }

    .options {
        width: 50%;
        margin: auto;
    }

    .profile-img-block {
        margin: auto;
    }
}