@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.hidden {display: none;}
.bg-c4c4c4 {background-color: #C4C4C4;}
.btn-bg-C4C4C4 {background-color: #C4C4C4;}
.btn-bg-C4C4C4:hover {background-color: #E4E4E4;}
.text-c4c4c4 {color: #C4C4C4;}
.text-dark-red {color: rgba(158, 0, 0, 0.768);}
.font-roboto {font-family: 'Roboto', sans-serif;}
.m-0 {margin: 0;}
.h-page404{height: 40rem;}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}