.hidden{
    visibility: hidden;
}

.bg-C4C4C4{
    background-color: #C4C4C4;
}

.btn-bg-C4C4C4{
    background-color: #C4C4C4;
}
.btn-bg-C4C4C4:hover{
    background-color: #E4E4E4;
}

.text-dark-red{
    color: rgba(158, 0, 0, 0.768);
}